/* 토스페이스 */
@import url("https://cdn.jsdelivr.net/gh/toss/tossface/dist/tossface.css");

/* 교보 손글씨 폰트 */
@font-face {
  font-family: "KyoboHandwriting2019";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff")
    format("woff");
  font-weight: normal;
  font-display: swap;
}

* {
  letter-spacing: -0.025em;
}

body {
  font-family: "SUIT Variable", sans-serif;
  background: #e9e9e9;
  overflow: hidden;
}

.tossface {
  font-family: Tossface;
}

.ff_kyobo {
  font-family: "KyoboHandwriting2019";
}

.ff_start {
  font-family: "MangoBoardByeolbyeol";
}

.App {
  position: relative;
  background: var(--background);
}

img {
  -webkit-user-drag: none;
}

/* 크롬 autofill 배경 덮어쓰기 */
input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0 1000px #ffffff inset !important;
}

/* readOnly + autofill일 때만 따로 처리도 가능 */
input[readonly].likedisabled,
input[readonly].likedisabled:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px oklab(98.463% -0.00064 -0.00169) inset !important;
}

.bg_gradient {
  background-image: radial-gradient(
      circle at center,
      #8a4de899,
      #c9a8ff73,
      #f1e7ff
    ),
    linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8));
  background-blend-mode: lighten;
  background-size: 150% 150%, 100% 100%;
  /* 더 크게 */
  background-position: 50% 50%, 0 0;
  animation: moveRadialGradient 4.5s ease-in-out infinite;
  /* 더 빠르게 */
}

@keyframes moveRadialGradient {
  0% {
    background-position: 50% 50%, 0 0;
  }

  25% {
    background-position: 60% 40%, 0 0;
    /* 크게 이동 */
  }

  50% {
    background-position: 80% 30%, 0 0;
    /* 대각선 이동 */
  }

  75% {
    background-position: 30% 65%, 0 0;
  }

  100% {
    background-position: 50% 50%, 0 0;
  }
}
