/* 토스페이스 */
@import url("https://cdn.jsdelivr.net/gh/toss/tossface/dist/tossface.css");

/* 로마숫자용 */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Fredericka+the+Great&display=swap');

/* 교보 손글씨 폰트 */
@font-face {
  font-family: "KyoboHandwriting2019";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff") format("woff");
  font-weight: normal;
  font-display: swap;
}

* {
  letter-spacing: -0.025em;
}

body {
  font-family: "SUIT Variable", sans-serif;
  background: var(--color-muted);
  overflow: hidden;
}

.tossface {
  font-family: Tossface;
}

.ff_roman {
  -webkit-font-smoothing: antialiased;
  font-family: "Fredericka the Great", serif;
}

.ff_kyobo {
  -webkit-font-smoothing: antialiased;
  font-family: "KyoboHandwriting2019";
}


.App {
  position: relative;
  background: var(--background);
}

img {
  -webkit-user-drag: none;
}

/* 크롬 autofill 배경 덮어쓰기 */
input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0 1000px #ffffff inset !important;
}

/* readOnly + autofill일 때만 따로 처리도 가능 */
input[readonly].likedisabled,
input[readonly].likedisabled:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px oklab(98.463% -0.00064 -0.00169) inset !important;
}


.bg_gradient:before {
  content: '';
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(50px);
}

.bg_gradient {
  position: relative;
  z-index: 0;
  overflow: hidden;
  background-image: radial-gradient(circle at center,
      oklch(58.5% 0.233 277.117 / 0.6),
      oklch(78.5% 0.115 274.713 / 0.4),
      oklch(93% 0.034 272.788)),
    radial-gradient(circle at center,
      oklch(62.7% 0.265 303.9 / 0.4),
      oklch(82.7% 0.119 306.383 / 0.3),
      oklch(94.6% 0.033 307.174)),
    linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8));
  background-blend-mode: lighten;
  background-size: 150% 150%, 150% 150%, 100% 100%;
  background-position: 50% 10%, 50% 90%, 0 0;
  animation: moveRadialGradient 5s ease-in-out infinite;
}

@keyframes moveRadialGradient {
  0% {
    background-position: 50% 10%, 50% 90%, 0 0;
  }

  25% {
    background-position: 90% 50%, 10% 50%, 0 0;
    /* 크게 이동 */
  }

  50% {
    background-position: 50% 90%, 50% 10%, 0 0;
    /* 대각선 이동 */
  }

  75% {
    background-position: 10% 50%, 90% 50%, 0 0;
  }


  100% {
    background-position: 50% 10%, 50% 90%, 0 0;
  }
}