.card_container:before {
  position: absolute;
  content: "";
  z-index: 0;
  left: 50%;
  bottom: 8px;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 20px;

  background: rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  filter: blur(10px);
  backdrop-filter: blur(10px);
  pointer-events: none;
}

.card_bg_gradient {
  background-image: radial-gradient(
      circle at center,
      #8a4de899,
      #c9a8ff73,
      #f1e7ff
    ),
    linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8));
  background-blend-mode: lighten;
  background-size: 150% 150%, 100% 100%; /* 더 크게 */
  background-position: 50% 50%, 0 0;
  animation: moveRadialGradient 4.5s ease-in-out infinite; /* 더 빠르게 */
}

@keyframes moveRadialGradient {
  0% {
    background-position: 50% 50%, 0 0;
  }
  25% {
    background-position: 60% 40%, 0 0; /* 크게 이동 */
  }
  50% {
    background-position: 80% 30%, 0 0; /* 대각선 이동 */
  }
  75% {
    background-position: 30% 65%, 0 0;
  }
  100% {
    background-position: 50% 50%, 0 0;
  }
}

/**************************************/
/********** bounce animation **********/
/**************************************/

.card_bounce:nth-child(1) {
  position: absolute;
  z-index: 3;
  left: 50%;
  top: 50%;
  transform-origin: center center;
  animation: bound1 2.8s ease-in-out infinite;
}

@keyframes bound1 {
  0% {
    transform: translate(-50%, -50%) rotateX(10deg) rotateY(-20deg)
      rotateZ(20deg);
  }

  50% {
    transform: translate(-55%, -55%) rotateX(15deg) rotateY(-22deg)
      rotateZ(22deg);
  }

  100% {
    transform: translate(-50%, -50%) rotateX(10deg) rotateY(-20deg)
      rotateZ(20deg);
  }
}
