.card_container:before {
  position: absolute;
  content: "";
  z-index: 0;
  left: 50%;
  bottom: 8px;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 20px;

  background: rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  filter: blur(10px);
  backdrop-filter: blur(10px);
  pointer-events: none;
}
