/* 공통 속성 */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* custom navigator 수정 */
.swiper .mySwiper-prev,
.swiper .mySwiper-next {
  position: absolute;
  z-index: 999;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s;
}

.swiper .mySwiper-prev:hover,
.swiper .mySwiper-next:hover {
  background: rgba(228, 228, 228, 0.3);
}

.swiper .mySwiper-prev {
  top: var(--swiper-navigation-top-offset, 50%);
  left: var(--swiper-navigation-sides-offset, 4px);
  right: auto;
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  margin-left: 0;
}

.swiper .mySwiper-next {
  top: var(--swiper-navigation-top-offset, 50%);
  right: var(--swiper-navigation-sides-offset, 4px);
  left: auto;
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  margin-left: 0;
}

/* pagination */
.swiper.askSwiper .swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 300ms opacity;
  transform: translate(0, 100%);
  z-index: 10;
  bottom: 0;
  top: auto;
  left: 0;
  width: 100%;
}

/* askSwiper */
.swiper.askSwiper .swiper-wrapper {
  align-items: stretch;
  height: 100%;
}

.swiper.askSwiper .swiper-slide {
  padding-left: 16px;
  width: 60%;
}

@media screen and (max-width: 768px) {
  .swiper.askSwiper .swiper-slide {
    width: 80%;
  }
}

@media screen and (max-width: 450px) {
  .swiper.askSwiper .swiper-wrapper {
    align-items: start;
  }
  .swiper.askSwiper .swiper-slide {
    width: 90%;
  }
}

@media screen and (max-width: 380px) {
  .swiper.askSwiper .swiper-slide {
    width: 100%;
    padding-right: 16px;
  }
}
