.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper.askSwiper .swiper-wrapper {
  align-items: stretch;
}
.swiper.askSwiper .swiper-slide > a {
  display: flex;
  flex: 1;
}
.swiper.askSwiper .swiper-slide {
  display: flex;
  min-width: 140px;
  height: auto;
  width: 30%;
}
@media screen and (max-width: 768px) {
  .swiper.askSwiper .swiper-slide {
    width: 28%;
  }
}
@media screen and (max-width: 450px) {
  .swiper.askSwiper .swiper-slide {
    width: 40%;
  }
}
