:root {
  --card-width: 100px;
}

.card_deck_wrap {
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.card_deck {
  --deck-width: 1400px;
  position: absolute;
  left: calc((100% - var(--deck-width)) / 2);
  bottom: 0;
  transform: rotate(0deg);
  transform-origin: center center;
  width: var(--deck-width);
  height: var(--deck-width);
}

.card_wrap {
  position: relative;
  display: block;
  width: var(--card-width);
  aspect-ratio: 7/12;
  user-select: none;
  -webkit-user-select: none;
}

.card_slot {
  width: var(--card-width);
  display: block;
  height: auto;
  user-select: none;
  -webkit-user-select: none;
}


.card_deck>.card_wrap {
  position: absolute;
  left: calc((100% - var(--card-width)) / 2);
  bottom: 0;
  transform: translateX(0) translateY(0) rotate(0deg);
}

.card_item {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0.3em;
  overflow: hidden;
}

.card_inner {
  width: 100%;
  height: 100%;
}

.card_wrap.show_card .card_item .card_inner .card_front {
  transform: rotateY(0);
}

@media screen and (max-width: 450px) {
  :root {
    --card-width: 80px;
  }
}

/***************************************/
/********** shuffle animation **********/
/***************************************/

.card_deck.shuffle .card_wrap:nth-child(1) {
  animation-name: shuffle1;
  animation-duration: 0.3s;
  animation-iteration-count: 3;
  animation-delay: 0.5s;
  z-index: 7;
}

.card_deck.shuffle .card_wrap:nth-child(2) {
  animation-name: shuffle2;
  animation-duration: 0.3s;
  animation-iteration-count: 3;
  animation-delay: 0.8s;
  z-index: 6;
}

.card_deck.shuffle .card_wrap:nth-child(3) {
  animation-name: shuffle3;
  animation-duration: 0.3s;
  animation-iteration-count: 2;
  animation-delay: 1s;
  z-index: 5;
}

.card_deck.shuffle .card_wrap:nth-child(4) {
  animation-name: shuffle4;
  animation-duration: 2s;
  z-index: 4;
}

.card_deck.shuffle .card_wrap:nth-child(5) {
  animation-name: shuffle5;
  animation-duration: 2s;
  z-index: 3;
}

.card_deck.shuffle .card_wrap:nth-child(6) {
  animation-name: shuffle1;
  animation-duration: 0.3s;
  animation-iteration-count: 5;
  z-index: 2;
}

.card_deck.shuffle .card_wrap:nth-child(7) {
  animation-name: shuffle6;
  animation-duration: 0.3s;
  animation-iteration-count: 5;
  z-index: 1;
}

@keyframes shuffle1 {
  0% {
    transform: translate(0, 0);
    z-index: 1;
  }

  50% {
    transform: translate(60px, 0) rotate(8deg);
    z-index: 1;
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes shuffle2 {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(-60px, -10px) rotate(-5deg);
    z-index: 2;
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes shuffle3 {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(40px, 10px);
    z-index: 3;
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes shuffle4 {
  20% {
    transform: translateX(50px) rotate(15deg);
  }

  60% {
    transform: translateX(-20px);
    z-index: 4;
  }

  90% {
    transform: translateX(-10px);
  }
}

@keyframes shuffle5 {
  30% {
    transform: translateX(-50px) rotate(-15deg);
  }

  50% {
    transform: translateX(20px);
    z-index: 5;
  }

  80% {
    transform: translateX(10px);
  }
}

@keyframes shuffle6 {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(-50px, -10px) rotate(8deg);
    z-index: 6;
  }

  100% {
    transform: translate(0, 0);
  }
}


/**************************************/
/********** spread animation **********/
/**************************************/
.card_deck.spread {
  border-radius: calc(var(--deck-width) / 2);
  overflow: visible;
  transform-origin: center center;
  transition: transform 0.8s ease-in-out;
}

.card_deck.spread .card_wrap .card_item {
  transition: transform 0.25s ease-out;
}

.card_deck.spread .card_wrap.active {
  animation: selected_wrap 0.3s ease forwards;
}

.card_deck.spread .card_wrap.active .card_item {
  animation: selected_item_from_deck 0.3s ease forwards;
}

.card_wrap.selected-in .card_item {
  position: relative;
  /* 필요하면 유지 */
  animation: selected_item_from_list 0.3s ease forwards;
}

.card_wrap .card_item.unselected {
  position: absolute;
  animation: unselected_item_from_list 0.3s ease forwards;
}

@keyframes selected_wrap {
  0% {}

  100% {
    display: none;
  }
}

@keyframes selected_item_from_deck {
  0% {
    opacity: 1;
    transform: translateY(10px);
  }

  100% {
    opacity: 0;
    transform: translateY(50px);
  }
}

@keyframes selected_item_from_list {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes unselected_item_from_list {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}


@media (hover: hover) {
  .card_deck.spread .card_wrap:hover .card_item {
    transform: translateY(30px);
  }
}



/***************************************/
/********** selecte animation **********/
/***************************************/

.card_selected.card_wrap .card_item {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.card_selected.card_wrap .card_item .card_inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
  transform-style: preserve-3d;
  transform: rotateY(0);
}

.ReadingPick .card_selected.card_wrap.show_card .card_item .card_inner {
  transform: rotateY(180deg);
}

.card_inner .card_back,
.card_inner .card_front {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #e9e9e9;
  border-radius: 0.3em;
  overflow: hidden;
  backface-visibility: hidden;
}

.card_inner .card_back {
  transform: rotateY(0deg);
}

.card_inner .card_front {
  transform: rotateY(180deg);
}

.card_inner .card_back img,
.card_inner .card_front img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


/****************************/
/********** shadow **********/
/****************************/
.card_deck>.card_wrap:last-child>.card_item {
  box-shadow: 0 10px 0px #e5e5e5e5;
}

.card_deck.spread>.card_wrap:last-child>.card_item {
  box-shadow: none;
}